
.padding10_both {
	padding: 10% 0;
}
.padding5_both {
	padding: 5% 0;
}
.padding10_top {
	padding-top: 10%;
}
.padding5_top {
	padding-top: 5%;
}
.padding10_bottom {
	padding-bottom: 10%;
}
.padding5_bottom {
	padding-bottom: 5%;
}
.margin10_both {
	margin: 10% 0;
}
.margin5_both {
	margin: 5% 0;
}
.margin20_top {
	margin-top: 20%;
}
.margin10_top {
	margin-top: 10%;
}
.margin5_top {
	margin-top: 5%;
}
.margin10_bottom {
	margin-bottom: 10%;
}
.margin5_bottom {
	margin-bottom: 5%;
}

.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.convy_logo_app {
  width: 5em;
  height: auto;
}


.topbar-responsive {
  background: none;
  height: 100px;
  width: 100%;
}

.top-bar-right {
	padding-top: 1%;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: none;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}
.hidden-h1{text-indent:100%;white-space:nowrap;overflow:hidden;position:absolute;z-index:-1;color:transparent;font-size:1px;left:-100vh;}

.convy_hero_container {
	position: relative;
	min-width: 100%;
    min-height: 83vh;
    overflow: hidden;
}
.convy_hero {background-color:#321c52;padding: 1%;color:#fff;
  background-attachment: scroll;
    overflow: hidden;
        position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.convy_hero video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.convy_hero .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #321c52;
    opacity: 0.90;
}
.convy_hero_inner {font-weight:normal;position: relative;
    z-index: 3;
    margin: 0 auto;
    }


.convy_hero_inner h2{color:#fff;font-weight:normal;text-align:left;font-size:5em;overflow:visible;}
.cta_box {z-index: 3;background-color:#00D3E1;overflow:hidden;height: 400px;margin-top: -250px;}
@media screen and (max-width: 39.9375em) {
  .cta_box {
    margin-top: 0px;
  }
}
.convy_cta{
	position: relative;
}

.login-box-form-section,
.login-box-social-section-inner {
  padding: 1.5rem;
}



input,
span,
label,
textarea {
  display: block;
  border: none;
  font-family: 'Lato', sans-serif;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.login-box-input,
textarea.login-box-input {
  height: 3.1rem;
  border: 0;
  padding-left: 0;
  padding-bottom: 0.1em;
  box-shadow: none;
  font-weight: 400;
  background-color: transparent;
  border-radius: 0px;
  width: 80%;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}





input.login-box-input + label,
textarea.login-box-input + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-bottom: 1px solid #321c52;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.login-box-input:focus + label,
textarea.login-box-input:focus + label {
  width: 80%;
  background-color: transparent;

}

input.login-box-input:focus,
input.login-box-input:valid {
  padding-top: 26px;
}

textarea.login-box-input:valid,
textarea.login-box-input:focus {
  margin-top: 26px;
}

input.login-box-input:focus + label > span,
input.login-box-input:valid + label > span {
  top: -40px;
  color: #333;
  font-size: 10px;
}

textarea.login-box-input:focus + label > span,
textarea.login-box-input:valid + label > span {
  top: -150px;
  color: #333;
}

input.login-box-input:valid + label,
textarea.login-box-input:valid + label {
  width: 90%;
  border-color: #efde00;
}

input.login-box-input:invalid,
textarea.login-box-input:invalid {
  box-shadow: none;
}

input.login-box-input + label > span,
textarea.login-box-input + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  top: -37px;
  left: 0px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  margin: 20px 0 0 0;
      padding: 20px;
  cursor: pointer;
}


input.login-box-input:valid ~ input[type="submit"], textarea.login-box-input:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.login-box-input:invalid ~ input[type="submit"], textarea.login-box-input:invalid ~ input[type="submit"] {
  background-color:#efde00;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


.login-box-submit-button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.4em 0.8em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, cubic-bezier(.03,1.12,.64,.99);
  line-height: 1;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  background-color: #efde00;
      border-radius: 3px;
  color: #321c52;
  width: 100%;
      box-shadow: 0 15px 35px rgba(0,0,0,.1);
}

[data-whatinput='mouse'] .login-box-submit-button {
  outline: 0;
}

.login-box-submit-button:hover, .login-box-submit-button:focus {
  background-color: #321c52;
  color: #ffffff;
}

.login-box-submit-button:hover,
.login-box-submit-button:focus {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-submit-button:active {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #321c52;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #321c52;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #321c52;
}
:-moz-placeholder { /* Firefox 18- */
  color: #321c52;
}
.convy_wdwd {
  position: relative;
}



.convy_hdiw {
	position: relative;
	color: #321c52;
}
/** animated boxes **/
.animBlock {
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all .55s ease-in;
  -moz-transition: all .55s ease-in;
  -ms-transition: all .55s ease-in;
  -o-transition: all .55s ease-in;
  transition: all .55s ease-in;
}
.animBlock[data-position="left"] { left: -20%; }
.animBlock[data-position="right"] { right: -20%; }

.animBlock[data-position="left"].viewed {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="right"].viewed {
  right: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}




.gradient-bg {
  background: rgb(239,222,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(239,222,0,1) -1%, rgba(239,222,0,1) 0%, rgba(239,222,0,1) 14%, rgba(0,221,224,1) 63%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(239,222,0,1) -1%,rgba(239,222,0,1) 0%,rgba(239,222,0,1) 14%,rgba(0,221,224,1) 63%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(239,222,0,1) -1%,rgba(239,222,0,1) 0%,rgba(239,222,0,1) 14%,rgba(0,221,224,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efde00', endColorstr='#00dde0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.convy_pricing {
	position: relative;
}
.pricing-table {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.chosethatone {
  border: solid 3px #00dde0;
}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: #321c52;
  color: #ffffff;
  border-bottom: 0;
}

.pricing-table .price {
  background-color: #e6e6e6;
  font-size: 2rem;
  border-bottom: 0;
}

.raye {text-decoration: line-through;
text-align:right;}

.reduction {
  font-size: 1rem;
}
.saving {
  text-align: left;
  color: #5da423;
  
  font-weight: bold;
}
.pricing-table .description {
  color: #321c52;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 0;
}

.convy_testimonial {
	position: relative;
}


.full-width-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("../img/testimonial2.jpg");
  background-position: center center;
  min-height: 400px; 
   /*  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* .parralax {
  height:800px;
  background-color:#fff;
} */

.full-width-testimonial-icon .quote-path {
  fill: none;
  stroke: #00D3E1;
  stroke-width: 2.5192;
  stroke-miterlimit: 10;
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}

.full-width-testimonial-section {
  padding-top: 2rem;
}

.full-width-testimonial-section .full-width-testimonial-text {
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}

@media print, screen and (min-width: 40em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print, screen and (min-width: 64em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 75em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.full-width-testimonial-section .full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1.0em;
}

.full-width-testimonial-section .full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #efde00;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.full-width-testimonial-section .slick-slider {
  margin-bottom: 0px;
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: 2rem;
}

.full-width-testimonial-content {
  width: 100%;
}

.convy_sectors {
  position: relative;
}
.convy_sectors label{
  font-size: 1.5rem;
}
 .convy_sectors img{
  min-width:170px;
  max-width:170px;
}   


.convy_contact_h2 {
      color: #fff;
    font-size: 4em;
}
.index_twitter_bg_setup{
    position: relative;
    height: auto;
    overflow: visible;
}
.index_twitter_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-3deg);
  transform-origin: top left;
  z-index: -9999;
}


.switch-field {
    overflow: hidden;
}


.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 90%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  border: 2px solid #321c52;
  color: #321c52;
  font-weight: bold;
}


.switch-field label svg{
  stroke: #321c52;
  fill: #321c52;
}


.switch-field input:checked label svg{
  stroke: #fff;
  fill: #fff;
}






.convy_footer {
	position: relative;
}


.marketing-site-footer {
  background: #ffffff;
  color: #8aa0ae;
  padding: 2rem 0 0;
  border-top: 3px solid #321c52;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #321c52;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #321c52;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #321c52;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.phone {
  margin-bottom: 0.2em;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #321c52;
}

.marketing-site-footer-block p {
  line-height: 0.4rem;
  display: inline-block;
}

.clear-footer {

}

.marketing-site-footer-bottom {
  background: #321c52;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #fff;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

.button {
      box-shadow: 0 15px 35px rgba(0,0,0,.1);
    transition: all .2s cubic-bezier(.03,1.12,.64,.99);
    font-size: 1.2rem;
    padding: 1em 2em;
}
